@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Young+Serif&display=swap');

html {
  font-family: "Hanken Grotesk" ;
}

.spantext {
  color: black;
}

.bold {
  font-weight: bold;
}


body {
  /* font-family: ; */
  background: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: auto; */
  height: 100vh;
  /* width: 100vw; */
 
& #main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  & #card_results {
    z-index: 1;
    transform: translate(16px);
    min-height: 350px;
    max-width: 50%;
    min-width: 250px;
    width: 30%;
    height: 220px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  
    gap: 24px;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;

    padding: 20px;
 
  
    & #note {
      display: flex;

      width: 115px;
      height: 115px;
      background: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
      );
      border-radius: 50%;
      justify-content: center;
      text-align: center;
      align-items: center;

      & .content {
        position: absolute;
      }
    }
  }
  & #card_summary {
    transform: translate(-16px);
    min-width: 250px;
    max-width: 50%;
    width: 30%;
    height: 220px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 50vh; */
    /* width: 50vh; */
    background: white;
    border-radius: 16px;
    padding: 20px 10px 20px 40px;
 
  
  & #summary { 
    font-size: 1.4rem;
    font-weight: bold;
display: flex;
width: 90%;
      }

& #div_reaction {
  border-radius: 16px;
  display: flex;
  background: hsla(0, 100%, 67%, 0.1);
  justify-content: fit-content;
      width: 80%;
      align-items: center;
      padding: 8px;
      padding-left: 16px;
 
  & #reaction {
    display: flex;
    color: hsl(0, 100%, 67%);
    width: 80%;
    justify-content: space-between;
    padding-left: 16px;
    
    } 
  }



& #div_memory {
  border-radius: 16px;
  display: flex;
  justify-content: center;
    width: 80%;
  background: hsla(39, 100%, 56%, 10%);
  align-items: center;
  padding: 8px;
  padding-left: 16px;
  & #memory {
    color: hsl(39, 100%, 56%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    
    }
  }


& #div_verbal {
  border-radius: 16px;
  display: flex;
  justify-content: center;
    width:80%;
  background: hsla(166, 100%, 37%, 10%);
  align-items: center;
  padding: 8px;
  padding-left: 16px;
  & #verbal {
    color: hsl(166, 100%, 37%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
   
    }
  }


& #div_visual {
  border-radius: 16px;
  display: flex;
  background: hsla(234, 85%, 45%, 10%);
  justify-content: center;
  width: 80%;
  align-items: center;
  padding: 8px;
  padding-left: 16px;
  & #visual { 
    color: hsl(234, 85%, 45%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
   
    }
  }


& #button { 
display: flex;
justify-content: center;
width: 100%;
padding-top: 16px;
& button {
background: hsl(224, 30%, 27%);
border-radius: 32px;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
width: 90%;
border: none;
align-items: center;
padding: 12px;
}


}

   
     
   
 }
}  
}

@media only screen and (max-width: 375px) {
  body {
 
 
& #main {
  flex-wrap: wrap;


  & #card_results {
    transform: translate(0px, 8px);

    padding: 0;
    
 
  
    & #note {
     
      }
    }
  
  & #card_summary {
    transform: translate(0px, -8px);

    padding: inherit;
    
 

    & #reaction {

    }

    & #memory {

    }

    & #verbal {
      
    }

    & #visual {
  
    }

    & #button {
      display: flex;
      justify-content: center;
      width: 100%;
      & button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 45vh; */
        width: 100%;
       }
      }
   


  }
 }
}


   
  
}